<!DOCTYPE html>
<html>
<head>
	<title>planes</title>
</head>
<body bgcolor="#1B1B1C">
	<h1>
		<font face ='Consolas' color ='#FFFFFF', size = 7>
			&nbsp PLANES
		</font>
	</h1>
	<center>
		<br/><br/>
		<style>
			.polig{
				padding-left: 15px;
				padding-right: 15px;
				width:275px;
				height:300px;
				background:#1B1B1C;
				border:2px solid #FFFFFF;
				font-family:arial;
				font-weight:bold;
				color:#EEEEEE;
				border-radius: 10px;
				display: inline-block;

			}
		</style>
			

		<div class="polig"> 
			<h1>free</h1><hr />
			<h3 align= 'left'>Disfruta de</h3>
			<h4 align= 'left'>✅ Escuchar únicamente 3 tracks
			<br/>&nbsp &nbsp &nbsp  al día</h4>
			<h4>
				<font face ='Consolas' color ='#1B1B1C', size = 4>
					...............<br/>
					.....
				</font>
			</h4>
		</div> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp 
		<div class="polig"> 
			
			<h1>Premium</h1>
			<h3>5.99 USD al mes, 1 cuenta</h3>
			<hr />
			<h3 align= 'left'>Disfruta de</h3>
			<h4 align= 'left'>✅ Escuchar más de 3 tracks al día</h4>
			<h4 align= 'left'>✅ Crear playlist</h4> 

		</div>
	<center>	
</body>
</html>