.polig{
    padding-left: 15px;
    padding-right: 15px;
    width:275px;
    height:350px;
    background:#1B1B1C;
    border:2px solid #FFFFFF;
    font-family:arial;
    font-weight:bold;
    color:#EEEEEE;
    border-radius: 10px;
    display: inline-block;
    margin-left: 65px;

}