.back{
  text-decoration: none;
  font-weight: bold;
    padding: 10px;
    padding-left: 10px;
    float: left; 
    margin-top: 5px;
    margin-right: 25px;
    padding-right: 10px;
    font-family: Courier;
    font-weight: 300px;
    font-size: 15px;
    color: '#FFFFFF';
    background-color: #1B1B1C;
    border: 2px solid #1B1B1C;
}

.botonesHL{
  text-decoration: none;
  display: block;
  padding: 5px; 
  padding-left: 10px;
  padding-right: 10px;
  font-family: Candara;
  font-weight: 300px;
  font-size: 15px;
  color: '#FFFFFF';
  background-color: #1B1B1C;
  border: 2px solid #1B1B1C;
  font-weight: bold;
  margin-top:0px;
  margin-right: 30px;
  float: right; 
}

.iconos{
  padding: 10px; 
  padding-right: 10px;
  display: block;
}

.column{
  width:500px;
  display: grid;
  grid-template-columns: 250px 250px
}

.verticalCenter{
  justify-content: center;
  align-items: center;
  display: flex
}

.report{
  padding: 0px; 
  display: block;
}

.subs{
  padding: 10px; 
  padding-right: 10px;
  display: block;
}

.reciente{
  padding: 0px; 
  display: block;
}

.popular{
  padding: 0px; 
  display: block;
}

.active{
  padding: 0px; 
  display: block;
}

.centered-container {
  display: block;
  margin-bottom: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.bi-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 410px;
  font-size: 18px;
}

.textjust{
  text-align: justify;
}

.bit{
  padding: 0px; 
  display: inline-block;
}

.bitt{
  display: inline-block;
  font-family: Candara;
  font-size: 60px;
  text-decoration: none;
  position: absolute;
  margin-top: 20px;
}

.filaR{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.otrossR{
  text-decoration: none;
  font-weight: bold;
  height: 57px;
  width: 190px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 30px;
  font-family: Candara;
  font-weight: 300px;
  font-size: 15px;
  color: '#FFFFFF';
  background-color: #149C5E;
  border-radius: 25px;
  border: 2px solid #1B1B1C;
  display: inline-block;
}

.generate {
  background-color: #1B1B1C;
}

.random {
  background-color: #1B1B1C;
}

.generate h1{
  padding-top: 50px;
  padding-left: 75px;
  padding-bottom: 10px;
}

.generate label{
  color: #ffffff;
  font-family: Candara;
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}

.random label{
  color: #ffffff;
  font-family: Candara;
  display: block;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  display: inline;
  letter-spacing: 3px;
}

.container{
  padding-right: 4px;
  padding-left: 4px;
  margin-left: auto;
  margin-right: auto;
  max-width: 208px;
  flex-direction: column;
}

.random .container{
  padding-right: 4px;
  padding-left: 4px;
  margin-left: auto;
  margin-right: auto;
  max-width: 338px;
  flex-direction: column;
}

.container input{
  width: 190px;
}

.random input{
  width: 190px;
  margin-bottom: 10px;
  padding-left: 4px;
}

.generateB{
  text-decoration: none;
  font-weight: bold;
  height: 37px;
  width: 100px;
  padding: 2px;
  margin-top: 20px;
  font-family: Candara;
  font-size: 15px;
  color: #FFFFFF;
  background-color: #149C5E;
  border-radius: 25px;
  border: 2px solid #1B1B1C;
}

.recomendaciones{
  text-decoration: none;
  font-weight: bold;
  height: 37px;
  width: 200px;
  padding: 2px;
  margin-top: 20px;
  font-family: Candara;
  font-size: 15px;
  color: #FFFFFF;
  background-color: #149C5E;
  border-radius: 25px;
  border: 2px solid #1B1B1C;
}